<!--div class="input-group"-->
  <%=text_field_tag :category_other ,'' ,class: 'form-control'%>
  <!--span class="input-group-btn">
    <button class="btn btn-default delete_btn" type="button">削除</button>
  </span-->
<!--/div-->
