<div class="modal fade" id="loading">
  <div class="modal-dialog modal-lg modal-middle">
    <div class="modal-body">
      <%= image_tag("loading.gif", :size => "200×200") %>
    </div>
  </div>
</div>
