<div class="container_fluid">
  <div id="introduction">
    <h1 class="intro_text">さあ、ご飯にしよう</h1>
    <p class="intro_text">つくば飯ナビはつくば市内で今開いている飲食店を探し出せるサービスです</p>
    <p class="intro_text">お腹を満たして、引き続き研究を頑張りましょう！！</p>
  </div>
</div>
