$height: 60px;

#header {
  height: $height;
  width: 100%;
  background-color: #f9f9fb;
  background-image: image-url("gwlabo.png");
  background-repeat: no-repeat;
  background-position: right top;
}

#logo {
  height: $height;
  margin-left: 20px;
}

#login_menu {
  display: inline;
}

#user_menu {
  padding: 0;
}

#username {
  text-align: center;
}

#user {
  display: inline;
}

.line {
  border-top: 1px solid #eeeeee;
}
