// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin text-config($color, $size) {
  color: $color;
  font-family: 'Noto Sans Japanese', serif;
  font-weight: 100;
  font-size: $size;
  margin: 0;
}

#introduction {
  //height:300px;
  background-image: image-url("ramen.png");
  background-size: cover;
  min-height: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
}
@media (min-width: 768px) {
  h1.intro_text {
    @include text-config(#fff, 40px);
    padding: 40px;
  }

  p.intro_text {
    @include text-config(#fff, 20px);
  }

  .shop_category {
    text-align: center;
    h1 {
      @include text-config(#000, 40px);
    }
  }

  #shop_container {
    //width: 200px;
    @include text-config(#000, 15px);
    margin: 5px;
    text-align: center;
    padding: 0 4px 0 4px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  }

  .shop_opening_hour {
    height: 80px;
  }
}

@media (max-width: 767px) {
  h1.intro_text {
    @include text-config(#fff, 50px);
    padding: 40px;
  }
  p.intro_text {
    @include text-config(#fff, 25px);
  }

  .shop_category {
    text-align: center;
    h1 {
      @include text-config(#000, 30px);
    }
  }
  #shop_container {
    //width: 200px;
    @include text-config(#000, 30px);
    margin: 5px;
    text-align: center;
    padding: 0 4px 0 4px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  }

  .shop_opening_hour {
    height: auto;
  }
}

#navbar {
  margin: 20px;
}

#search_button {
  margin: 40px 0 40px 0;
  text-align: center;
}

#submit_shop_info {
  margin-top: 20px;
}

#loading {
  text-align: center;
}

.modal-middle {
  padding-top: 20%;
}

#now_open_shop {
  padding: 0 50px 0 50px;
}

.shop_description {
  margin: 0 4px 0 4px;
}

.shop_name {
  display: block;
  //width: 190px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

#map {
  height: 100%;
}

#add_category_other_input {
  margin-top: 10px;
}

#category_other_input {
  display: none;
}

#submit_categories_group {
  margin-top: 10px;
}
